/* CSS Remover */

body, h1, ul, li {
    margin: unset;
    padding: unset;
    list-style-type: none;
}

/* web design */

:root {
    font-family: Arial;
}

body {
    background-color: #d9d9d9;
}

.wrapper {
    width: 448px;
    margin: 110px auto 0;
    background-color: #ffffff;
    border-radius: 20px;    
}

header {
    padding: 45px 0;
    color: #FF007A;
}

header h1 {
    border-left: 8px solid #FF007A;
    padding-left: 40px;
    font-size: 28px;
}

main {
    border-top: 4px solid #d9d9d9;
    background-color: #EEEEEE;  
    /* 배경을 준 순간, 부모 radios가 사라짐, inherit하면 상단도 꾸부러짐 */
    border-radius: 0 0 20px 20px;  
    box-shadow: 0 3px rgb(177, 177, 177);
}   

ul {
    padding: 10px 40px; /* main과 여백 */
}

li {
    font-weight: bold;
    color: #888888;
    margin: 15px 0;  /* li 끼리 여백 */ 
    border: 4px solid #d9d9d9;
    border-radius: 10px;
    padding: 10px;  /* 글자와 border 여백 */
    background-color: white;
}

ul .lang {
    border: 4px solid #759CFF;
    color: #759CFF;
    background-image: url(./images/check.png);
    background-repeat: no-repeat;
    background-position: right center;
}
